In [2]:
import duckdb
from pathlib import Path

DB_PATH = Path(r"C:\Users\serrios\01_prueba_analitico_4\op_cobro\database\analytics.duckdb")
con = duckdb.connect(str(DB_PATH), read_only=True)

print("✅ Conectado a:", DB_PATH)

✅ Conectado a: C:\Users\serrios\01_prueba_analitico_4\op_cobro\database\analytics.duckdb

In [4]:
con.execute("SELECT * FROM silver.canales LIMIT 10").fetchdf()

,num_doc,obl17,f_analisis,total_mnt_digital_ult6,max_mnt_digital_ult6,total_cnt_digital_ult6,max_cnt_digital_ult6,total_mnt_digital_ult12,max_mnt_digital_ult12,total_cnt_digital_ult12,...,share_mnt_efectivo_ult12,share_mnt_tarjeta_ult12,share_mnt_otros_ult12,index_digitalizacion_ult12,preferencia_efectivo_ult12,trend_mnt_digital_ult6_vs_ult12,trend_mnt_fisico_ult6_vs_ult12,trend_mnt_efectivo_ult6_vs_ult12,trend_mnt_tarjeta_ult6_vs_ult12,trend_mnt_otros_ult6_vs_ult12
0,922349123250112,5.0986314141055144E16,2025-09-01,18773594.4,7822331.0,40.8,17.0,3.731243e+07,16790593.0,64.444444,...,0.76292,0.022835,0.183046,0.507906,0.76292,0.503146,0.416945,0.203044,0.889409,0.882537
1,899156804630643,7.0537365354430584E16,2024-08-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,215595954901092,8.0593540479356848E16,2024-09-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,603989110655846,5.8390705796269608E16,2025-11-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,280191780739508,1.7350482440027582E16,2025-07-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
5,280191780739508,8.7153210794941072E16,2025-07-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
6,696190250747254,9.489000766652184E16,2025-11-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,696190250747254,3.9922602401664656E16,2025-11-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,334467738071662,5.0461476921252664E16,2024-10-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
9,429896526713280,7.1563106867017408E16,2024-12-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000

In [6]:
con.execute("SELECT * FROM silver.clientes LIMIT 20").fetchdf()

            num_doc              obl17 f_analisis  var_rta
0   340880955871439  38183456621181000 2024-07-01        1
1   934023988958985  55043511359914800 2024-07-01        1
2   778281690736332  12180258124215600 2024-07-01        1
3   125044981954652  39056266529610800 2024-07-01        1
4   892818338559716  35529070432914100 2024-07-01        1
5   276178103010500  49904192101969500 2024-07-01        1
6   762963213809470   3972895801599150 2024-07-01        1
7   684757276194578  92124963306271600 2024-07-01        1
8   999568414065449  42557096638927900 2024-07-01        1
9   578250490868374  59381137486483100 2024-07-01        1
10  982109690184069  32481101826997200 2024-07-01        1
11  951580707484968  31482734872126300 2024-07-01        1
12  198949367005750  59108119363659700 2024-07-01        1
13  731568825912285  50447687844483000 2024-07-01        1
14  731568825912285  66232278700535200 2024-07-01        1
15  731568825912285  20879440550145600 2024-07-01        1
16  731568825912285  71977941850854600 2024-07-01        1
17  980750831738683  82882401700562500 2024-07-01        1
18  756752885274233   2108744172601980 2024-08-01        1
19  978248782626691  99094346873595900 2024-08-01        1

In [7]:
con.execute("DESCRIBE silver.canales").fetchdf()

                         column_name column_type null   key default extra
0                            num_doc     VARCHAR  YES  None    None  None
1                              obl17     VARCHAR  YES  None    None  None
2                         f_analisis        DATE  YES  None    None  None
3             total_mnt_digital_ult6      DOUBLE  YES  None    None  None
4               max_mnt_digital_ult6      DOUBLE  YES  None    None  None
..                               ...         ...  ...   ...     ...   ...
61   trend_mnt_digital_ult6_vs_ult12      DOUBLE  YES  None    None  None
62    trend_mnt_fisico_ult6_vs_ult12      DOUBLE  YES  None    None  None
63  trend_mnt_efectivo_ult6_vs_ult12      DOUBLE  YES  None    None  None
64   trend_mnt_tarjeta_ult6_vs_ult12      DOUBLE  YES  None    None  None
65     trend_mnt_otros_ult6_vs_ult12      DOUBLE  YES  None    None  None

[66 rows x 6 columns]

In [8]:
con.execute("SELECT COUNT(*) AS n FROM silver.canales").fetchdf()

       n
0  79098

In [9]:

con.execute("""
SELECT *
FROM silver.canales
LIMIT 5
""").fetchdf()

,num_doc,obl17,f_analisis,total_mnt_digital_ult6,max_mnt_digital_ult6,total_cnt_digital_ult6,max_cnt_digital_ult6,total_mnt_digital_ult12,max_mnt_digital_ult12,total_cnt_digital_ult12,...,share_mnt_efectivo_ult12,share_mnt_tarjeta_ult12,share_mnt_otros_ult12,index_digitalizacion_ult12,preferencia_efectivo_ult12,trend_mnt_digital_ult6_vs_ult12,trend_mnt_fisico_ult6_vs_ult12,trend_mnt_efectivo_ult6_vs_ult12,trend_mnt_tarjeta_ult6_vs_ult12,trend_mnt_otros_ult6_vs_ult12
0,922349123250112,5.0986314141055144E16,2025-09-01,18773594.4,7822331.0,40.8,17.0,3.731243e+07,16790593.0,64.444444,...,0.76292,0.022835,0.183046,0.507906,0.76292,0.503146,0.416945,0.203044,0.889409,0.882537
1,899156804630643,7.0537365354430584E16,2024-08-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
2,215595954901092,8.0593540479356848E16,2024-09-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,603989110655846,5.8390705796269608E16,2025-11-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,280191780739508,1.7350482440027582E16,2025-07-01,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000

In [8]:
import duckdb
from pathlib import Path

out_dir = Path(r"C:\Users\serrios\01_prueba_analitico_4\op_cobro\notebooks\outputs")
out_dir.mkdir(parents=True, exist_ok=True)

db_path = Path(r"C:\Users\serrios\01_prueba_analitico_4\op_cobro\database\analytics.duckdb")
out_file = out_dir / "silver_tanque_movimiento.csv"

with duckdb.connect(str(db_path), read_only=True) as con:
    con.execute(f"""
        COPY (SELECT * FROM silver.tanque_movimiento)
        TO '{out_file.as_posix()}'
        (HEADER, DELIMITER ',');
    """)

print("✅ Export listo:", out_file)

✅ Export listo: C:\Users\serrios\01_prueba_analitico_4\op_cobro\notebooks\outputs\silver_tanque_movimiento.csv

In [1]:
import duckdb
from pathlib import Path

DB_PATH = Path(r"C:\Users\serrios\01_prueba_analitico_4\op_cobro\database\analytics.duckdb")
con = duckdb.connect(str(DB_PATH), read_only=True)

print(con.execute("SELECT COUNT(*) FROM gold.dataset_modelo").fetchone()[0])
con.close()

56989

In [2]:

con = duckdb.connect(str(DB_PATH), read_only=True)
df = con.execute("SELECT * FROM gold.dataset_modelo LIMIT 10").fetchdf()
con.close()
df

,num_doc,obl17,f_analisis,var_rta,moras_avg_mora_3m,moras_min_mora_3m,moras_max_mora_3m,moras_stddev_mora_3m,moras_avg_mora_6m,moras_min_mora_6m,...,max_porc_pago_6m,stddev_porc_pago_6m,avg_porc_pago_9m,min_porc_pago_9m,max_porc_pago_9m,stddev_porc_pago_9m,avg_porc_pago_12m,min_porc_pago_12m,max_porc_pago_12m,stddev_porc_pago_12m
0,100028088711497,17806128775334800,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100028088711497,19052883624618300,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,100028088711497,26826204206697800,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,100028088711497,31616528257602900,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,100028088711497,38822113357418200,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,100028088711497,4905660605071290,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,100028088711497,533150066939815,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,100028088711497,55864237141385400,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,100028088711497,57485483593373000,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,100028088711497,63771715762838600,2024-07-01,0,0.0,0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:

con = duckdb.connect(str(DB_PATH), read_only=True)
print(con.execute("""
SELECT
  SUM(CASE WHEN num_doc IS NULL THEN 1 ELSE 0 END) AS null_num_doc,
  SUM(CASE WHEN obl17  IS NULL THEN 1 ELSE 0 END) AS null_obl17,
  SUM(CASE WHEN f_analisis IS NULL THEN 1 ELSE 0 END) AS null_f_analisis
FROM gold.dataset_modelo
""").fetchdf())
con.close()

   null_num_doc  null_obl17  null_f_analisis
0           0.0         0.0              0.0

In [4]:
import duckdb
from pathlib import Path

DB_PATH = Path(r"C:\Users\serrios\01_prueba_analitico_4\op_cobro\database\analytics.duckdb")
out_file = Path(r"C:\Users\serrios\01_prueba_analitico_4\op_cobro\notebooks\outputs\gold_dataset_modelo.csv")
with duckdb.connect(str(DB_PATH), read_only=True) as con:
    con.execute(f"""
        COPY (SELECT * FROM gold.dataset_modelo)
        TO '{out_file.as_posix()}'
        (HEADER, DELIMITER ',');
    """)

print("✅ Exportado:", out_file)

✅ Exportado: C:\Users\serrios\01_prueba_analitico_4\op_cobro\notebooks\outputs\gold_dataset_modelo.csv